<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-row" *ngFor="let question of questions" role="presentation">
            <app-question [question]="question" [form]="form"></app-question>
        </div>

        <div class="form-row" role="presentation">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </div>
    </form>

    <div class="form-row" role="presentation" *ngIf="payload">
        <h2>Savedthe following values</h2>
        <p>{{ payload }}</p>
    </div>
</div>
